.mixin.out
asm
assets
backups
bin
blueprints
cache
config/AntiIDConflict
config/bbm/AI_Improvements/overrides
coremods
craftpresence
crash-reports
CustomDISkins
data
dumps
Flan
fonts
llibrary
logs
mods
resourcepacks
saves
screenshots

.ReAuth.cfg
BotaniaVars.dat
minetweaker.log
Model*Armour.png
Model*Boots.png
OpenComputers*.dll
options.txt
readme.txt
usercache.json
usernamecache.json
