.mixin.out
asm
assets
backups
bin
blueprints
cache
coremods
craftpresence
crash-reports
CustomDISkins
data
dumps
Flan
fonts
hats
llibrary/debug
llibrary/lang
logs
resourcepacks
saves
screenshots

config/AntiIDConflict
config/bbm/AI_Improvements/overrides
config/BloodMagic
config/draconicevolution
config/tabbychat/singleplayer
config/traincraft

CLASSLOADER_TEMP*

mods/1.7.10
mods/carpentersblocks
mods/ic2
mods/OpenSecurity
mods/railcraft
mods/VoxelMods
mods/*.jar
mods/*.litemod
mods/ruins_log.txt

RFB_CLASS_DUMP*

.ReAuth.cfg
1213309934
BotaniaVars.dat
minetweaker.log
hs_err_pid*.log
Model*Armour.png
Model*Boots.png
OpenComputers*.dll
options.txt
ore_distribution.txt
readme.txt
stencil*.png
usercache.json
usernamecache.json
servers.dat
